* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
p {
    font-family: sans-serif;
}
#bvvdJump {
    color: #ffffff;
    cursor: default;
}
#bvvd {
    z-index: 2;
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: 50vh;
}
#title {
    font-size: 50px;
    text-align: center;
}
#input {
    padding: 3px;
    width: 40vw;
}
#horizontalPadding {
    height: 90px;
}
#index {
    width: min-content;
    height: min-content;
    padding: 0 0 200px 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
#underDIV {
    position: absolute;
    width: max-content;
    height: min-content;
    bottom: 0;
    left: 0;
}
#githubIcon, #emailIcon {
    height: 50px;
    width: 50px;
    padding: 10px;
}
@keyframes bvvdOut {
    0% {
        left: -300px;
    } 100% {
        left: 100vw;
    }
}